name: Build

on:
  push:
    branches: [ "main" ]
  pull_request:
    branches: [ "main" ]

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
    - run: sudo apt-get update
    - run: sudo apt-get install -f libwebkit2gtk-4.0

    - uses: actions/checkout@v4

    - name: Configure CMake
      run: cmake .

    - name: Build
      run: cmake --build .
